/* GRAPHS */

#graphWrapper{
    margin:auto;
    width:1020px;
    margin-bottom:50px;
}

#graph{
    height:400px;
    width:800px;
    float:left;    
    font : 10px/12px Verdana, sans-serif;
    background: white;
    padding: 5px;
    }

#graphControls{
    float: left;    
    width: 200px;
    height: 400px;
    background: white;
    padding: 5px;
}

#graphMenuAux{
    width: 200px;
    background: white;
    overflow-y: auto;
}


.graphMenuItem{
    width: 190px;
    height: 30px;
    display: block;
    background: white;
    color: #666666;
    padding: 5px;
    margin-bottom: 5px;
    font : 12px/14px Lucida grande, sans-serif;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    cursor:pointer;
    border-radius: 10px;
    border: 0.1em solid #888888; 
}

.graphMenuItem.current{
    background: #BBBBBB;
    color: purple;
}

.graphMenuItem:hover{
    background: #BBBBBB;
}
