/* Reset */
header, footer, article, nav, section, aside, time, hgroup {
    display : block;
}

html, body, header, article, nav, section, aside, time, h1, h2, h3, p, a, ul, li, dl, dd, dt, table, thead, tfoot, tbody, th, tr, td {
}

/* BASICS */
body{
    margin-bottom:300px;
    color: grey;
}

mark{
    color: grey;
}


#docsContents{
    font-size: 14pt;
}

#input_outcome{
    width:90%;
}

.contained{
    width:95%;
}

#shade {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    z-index: 10010;
    background: white;
    opacity: 0.3;
}

#shade img{
    display: block;
    margin: auto;
    width: 100px;
    padding: 100px 0; 
 }

.clickable {
    font-weight: bold;
    color: grey;
    cursor:pointer;
}

.clickable:hover{
    color: blue;
}

th{
    font-weight:bold;
}

.label{
    color: gray;
}

.centered{
    text-align:center;
    display: block;
    margin-left:auto;
    margin-right:auto;
    float :none;
}

#floatFaq{
    position: fixed;
    margin-left:5px;
    bottom:25px;
    left:5px;
    font-size:35px;
    color: orange;
    cursor: pointer;
}

#uplink{
    position: fixed;
    margin-right:10px;
    top:60px;
    right:0px;
    font-size:10pt;
    cursor: pointer;
}
#allContents{
    padding-bottom:30px;
}

.panel-heading{
    font-size:15pt;
}

.panel-heading-small{
    font-size:11pt;
    color: black;
}

.btn-custom.active{ 
    background:#eee !important; 
    box-shadow:none !important; 
} 

.help {
    display: inline-block;
    text-align:center;
    font-size:15px;
    font-family: 'arial';
    line-height:15px;
    margin-left:20px;
    margin-top:0px;
    color: orange;
    font-weight: bold;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: orange;
    width:18px;
    height:18px;
    cursor: pointer;
}

.help:hover{
    color: orange;
}

.selectedNav{ 
    background:#555 !important; 
    color: orange !important;
} 

h1,h2, h3, h4{
    margin-top:50px;
    color: #444;
}
.activeModel{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: orange;
    padding-bottom: 12px !important;
}

.docstgt {
    position: absolute;
    transform: translateY(-5vh);
}
.docsimage {
    display: block;
    max-width: 100%;
    margin-top:30px;
    margin-bottom:30px;
    margin-left: auto;
    margin-right: auto;
}
kbd {
    border-radius: 3px;
    padding: 1px 2px 0;
    border: 1px solid grey;
    background: white;
    color: grey;
}

em{
    color:#444;
}
